#question-container {
  padding: 30px;
}

#question-header {
  display: flex;
  justify-content: space-between;
}

.question-radio-group {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  align-items: flex-start;
}

.question-radio-button {
  margin: 10px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.3 !important;     /*click effect color change*/
  background-color: blue !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: black!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:black!important; /*outer ring color change*/
}

::ng-deep .mat-radio-label-content {
  margin-left: 30px !important;
}
